
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: lato ;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 40px;
    padding: 20px 40px;
    padding-bottom: 20px;
    text-align: center;
    background-image: url('book.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    background-color:rgb(236, 235, 233);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
}
h1, h2, .logo {

    font-size: 24px;
    font-weight: 700;
    color:black;
    font-family:  'Playfair Display', serif;
}
.icon-image img{
    height: 120px;
    width: auto;

}
.nav-link a{
    margin-left: 20px;
    text-decoration: none;
    color: #03b5eb;
}

section{
    padding: 80px 20px;
    text-align: center;
}
#home {
    background-color:rgb(67, 42, 10);
    padding: 100px 2px;
}

.find-us h3{
    color:cadetblue;
    border-bottom: 5px solid; 
    display :  inline-block;
}

.logo-img{
    display: block;
    margin: 0 auto;
    width: 50px;
    text-align: right;

}
.logo-container {
    margin-right: 30px;
    margin-top: auto;
}
nav ul {
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 20px;
}
